<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Home Page{% endblock title %}</title>
</head>
<body>
    <nav>
        <h1>LITReview</h1>
        {% if user.is_authenticated %}
            <a href="{% url 'flux:flux_view' %}">Flux</a>
            <a href="{% url 'flux:my_posts' %}">Posts</a>
            <a>Abonnements</a>
            <form method="post" action="{% url 'auth:logout' %}">
                {% csrf_token %}
                <button type="submit">Se déconnecter</button>
            </form>
        {% endif %}
    </nav>
    {% block content %}

    {% endblock content %}
</body>
</html>