{% extends 'base.html' %}
{% load custom_filters %}

{% block title %}
    My Posts
{% endblock title %}

{% block content %}
    <h2>Vos posts</h2>
    <div>
     {% for instance in all_flux %}
            {% if instance|get_instance_name == "ticket" %}
                <p>{% posted_by_display instance.user %} demandé une critique</p>
                <p>{{instance.time_created}}</p>
                <p>{{instance.title}}</p>
                <p>{{instance.description}}</p>
                {% if instance.image %}
                    <img src="{{instance.image.url}}" alt="{{instance.title}}">
                {% endif %}
                <a href="{% url 'review:update_ticket' instance.id %}">Modifier</a>
                <a href="{% url 'review:delete_ticket' instance.id %}">Supprimer</a>
            {% elif instance|get_instance_name == "review" %}

                <p>{% posted_by_display instance.user%} publié une critique</p>
                <p>{{instance.time_created}}</p>
                <p>{{instance.headline}} - </p>
                 {% for i in rating_range %}
                    {% if i <= instance.rating %}
                        ★
                    {% else %}
                        ☆
                    {% endif %}
                {% endfor %}
                <p>{{instance.body}}</p>
                <p>TICKET TODO CSS</p>
                <p>ticket - {{instance.ticket.user.username}}</p>
                <p>{{instance.ticket.title}}</p>
                {% if instance.ticket.image %}
                    <img src="{{instance.ticket.image.url}}" alt="{{instance.ticket.title}}">
                {% endif %}
                <a href="">Modifier</a>
                <a href="">Supprimer</a>
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}